body {
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
}

h1 {
    font-size: 50px;
    text-shadow: 2px 2px black;
}

#mission,
.centeral {
    text-align: center;
}

.jotil {
    padding-top: 3%;
    padding-left: 15%;
    padding-right: 15%;
    text-align: center;
    margin-bottom: 5%;
}

.orange-color,
#mission {
    color: orange;
}

.top-banner {
    border: none;
    padding-top: 100px;
    background-image: linear-gradient(rgb(232, 222, 222), rgb(209, 69, 69), orange, rgb(66, 61, 61));
}

.middle,
.top-banner {
    display: flex;
}

.half-width {
    width: 50%;
    padding-left: 2%;
}

.half-width img {
    width: 70%;
    padding-left: 15%;
}

.shadow {
    box-shadow: 3px 3px 20px orange;
    padding: 50px;
    margin: 3%;
}

.shadow img {
    width: 80px;
    height: 80px;
    padding-left: 1%;
}

hr {
    margin-top: 2%;
    box-shadow: 2px 2px 2px 2px orange;
}

a {
    color: black;
    background-image: linear-gradient(red, orange);
    text-decoration: none;
    padding: 8px 35px;
    border-radius: 5px;
    font-weight: 700;
    margin: 1%;
}

ul {
    position: sticky;
    background-attachment: fixed;
    position: absolute;
    list-style-type: none;
    display: flex;
    padding-top: 5px;
    padding-left: 70%;

}

li {
    padding-left: 3px;
}